<div class="grid-1">
  <div class="span-1">
    <fieldset class="flakes-information-box {{if isEditing 'is-editing'}}">
      <legend>
        {{model.characteristicName}}
      </legend>

      {{! ROW 1 }}
      <div class="grid-2 gutter-20">
        <dl class="span-1">
          <dt>Characteristic Type</dt>
          <dd>
            {{model.characteristicTypeName}}
          </dd>
        </dl>
        <dl class="span-1">
          <dt>Sort Order</dt>
          <dd>
            {{model.sortOrder}}
          </dd>
        </dl>
      </div>

      {{! ROW 2 }}
      <div class="grid-2 gutter-20">
        <dl class="span-2">
          <dt>Measurements</dt>
          <dd>
            {{protected/characteristics/show/measurements-table model=model}}
          </dd>
        </dl>
      </div>

      {{! ROW 3 }}
      <div class="grid-3 gutter-20">
        <dl class="span-1">
          <dt>Record Created</dt>
          <dd>{{null-time model.createdAt 'LL'}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Record Updated</dt>
          <dd>{{null-time model.updatedAt 'LL'}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Record Deleted</dt>
          <dd>{{null-time model.deletedAt 'LL'}}</dd>
        </dl>
      </div>
    </fieldset>
  </div>
</div>
{{#if model.canEdit}}
  <br>
  {{#link-to 'protected.characteristics.edit' model.id class="button-gray smaller"}}
    Edit
  {{/link-to}}
{{/if}}
