<h2>{{genus-name}} Measurements</h2>
<div class="grid-1 gutter-50">
  <div class="span-1">
    <fieldset>
      <form>
        <ul>
          <li>
            <label>Strains</label>
            {{
              select-2
              multiple=true
              content=species
              value=selectedStrains
              optionValuePath="id"
              placeholder="All strains"
            }}
          </li>
          <li>
            <label>Characteristics</label>
            {{
              select-2
              multiple=true
              content=characteristicTypes
              value=selectedCharacteristics
              optionValuePath="id"
              placeholder="All characteristics"
            }}
          </li>
          <li>
            {{search-button isLoading=isLoading action='search'}}
          </li>
        </ul>
      </form>
    </fieldset>
  </div>
</div>

<div class="grid-12 gutter-50">
  <div class="span-12">
    <h3>Total matching measurements: {{measurements.length}}</h3>
  </div>
</div>

{{#if measurementsEmpty}}
  <span>No results</span>
{{else}}
  {{
    ember-table
    columns=tableColumns
    content=tableContent
    columnMode='fluid'
    hasFooter=false
  }}
{{/if}}
