{{#if loggedIn}}
  <p>You are already logged in!</p>
{{else}}
  {{#if loading}}
    {{loading-panel}}
  {{else}}
    <form {{action "authenticate" on="submit"}}>
      <h2>Log In</h2>
        {{input value=identification type="text" placeholder="Email"}}
        {{input value=password type="password" placeholder="Password"}}
        {{input class="button-gray" type="submit" value="Log In"}}
    </form>
  {{/if}}
{{/if}}
