{{#if loggedIn}}
  <p>You are already logged in!</p>
{{else}}
  {{#if loading}}
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  {{else}}
    <form {{action "authenticate" on="submit"}}>
      <h2>Log In</h2>
        {{input value=identification type="text" placeholder="Email"}}
        {{input value=password type="password" placeholder="Password"}}
        {{input class="button-gray" type="submit" value="Log In"}}
    </form>
  {{/if}}
  {{#if errorMessage}}
    <div class="flakes-message error">{{errorMessage}}</div>
  {{/if}}
{{/if}}
