<table class="flakes-table">
  <thead>
    <tr>
      <th {{action "setSortBy" "characteristicName"}}>Characteristic</th>
      <th {{action "setSortBy" "computedType"}}>Measurement Type</th>
      <th {{action "setSortBy" "computedValue"}}>Measurement</th>
      <th {{action "setSortBy" "notes"}}>Notes</th>
      <th {{action "setSortBy" "testMethod"}}>Test Method</th>
    </tr>
  </thead>
  <tbody>
    {{#each measurement in controller}}
      {{measurements/measurement-row measurement=measurement}}
    {{/each}}
  </tbody>
</table>
