{{#if isEditing}}
  <td></td>
  <td>
    <select onchange={{action "characteristicDidChange" value="target.value"}}>
      {{#each allCharacteristics as |characteristicChoice|}}
        <option value={{characteristicChoice.id}} selected={{equal characteristic.id characteristicChoice.id}}>{{characteristicChoice.characteristicName}}</option>
      {{/each}}
    </select>
  </td>
  <td>
    {{one-way-input type="text" class="measurement-value" value=value update=(action "valueDidChange")}}
  </td>
  <td>
    {{one-way-input type="text" class="measurement-notes" value=notes update=(action "notesDidChange")}}
  </td>
  {{#if canEdit}}
    <td>
      {{#if isDirty}}
      <button class="button-green smaller" {{action 'save'}}>
        Save
      </button>
      {{else}}
      <button class="button-gray smaller" {{action 'save'}}>
        Cancel
      </button>
      {{/if}}
    </td>
  {{/if}}
{{else}}
  <td>
    {{{measurement.characteristic.characteristicTypeName}}}
  </td>
  <td>
    {{#link-to 'protected.characteristics.show' measurement.characteristic.id}}
      {{{measurement.characteristic.characteristicName}}}
    {{/link-to}}
  </td>
  <td>
    {{measurement.value}}
  </td>
  <td>
    {{measurement.notes}}
  </td>
  {{#if canEdit}}
    <td>
      <button class="button-gray smaller" {{action 'edit'}}>
        Edit
      </button>
      {{delete-button delete=(action 'delete')}}
    </td>
  {{/if}}
{{/if}}
