{{#if isEditing}}
  <td></td>
  <td>
    {{
      select-2
      multiple=false
      content=allCharacteristics
      value=measurement.characteristic
      optionLabelPath="characteristicName"
    }}
  </td>
  <td>
    {{input value=measurement.value}}
  </td>
  <td>
    {{input value=measurement.notes}}
  </td>
  {{#if canEdit}}
    <td>
      {{#if rowChanged}}
      <button class="button-green smaller" {{action 'save'}}>
        Save
      </button>
      {{else}}
      <button class="button-gray smaller" {{action 'save'}}>
        Cancel
      </button>
      {{/if}}
    </td>
  {{/if}}
{{else}}
  <td>
    {{{measurement.characteristic.characteristicTypeName}}}
  </td>
  <td>
    {{#link-to 'protected.characteristics.show' measurement.characteristic.id}}
      {{{measurement.characteristic.characteristicName}}}
    {{/link-to}}
  </td>
  <td>
    {{measurement.value}}
  </td>
  <td>
    {{measurement.notes}}
  </td>
  {{#if canEdit}}
    <td>
      <button class="button-gray smaller" {{action 'edit'}}>
        Edit
      </button>
      {{delete-button delete=(action 'delete')}}
    </td>
  {{/if}}
{{/if}}
