{{#if isEditing}}
  <td></td>
  <td>
    {{
      select-2
      multiple=false
      content=characteristics
      value=row.characteristic
      optionLabelPath="characteristicName"
    }}
  </td>
  <td>
    {{input value=row.value}}
  </td>
  <td>
    {{input value=row.notes}}
  </td>
  {{#if canEdit}}
    <td>
      {{#if rowChanged}}
      <button class="button-green smaller" {{action 'save'}}>
        Save
      </button>
      {{else}}
      <button class="button-gray smaller" {{action 'save'}}>
        Cancel
      </button>
      {{/if}}
    </td>
  {{/if}}
{{else}}
  <td>
    {{{row.characteristic.characteristicTypeName}}}
  </td>
  <td>
    {{#link-to 'protected.characteristics.show' row.characteristic.id}}
      {{{row.characteristic.characteristicName}}}
    {{/link-to}}
  </td>
  <td>
    {{row.value}}
  </td>
  <td>
    {{row.notes}}
  </td>
  {{#if canEdit}}
    <td>
      <button class="button-gray smaller" {{action 'edit'}}>
        Edit
      </button>
      {{delete-button delete=(action 'delete')}}
    </td>
  {{/if}}
{{/if}}
