<form class="grid-form" {{action 'save' on='submit'}}>
  <fieldset>
    <legend><em>{{characteristicName}}</em></legend>
    <div data-row-span="1">
      <div data-field-span="1">
        <label>Characteristic Name</label>
        {{one-way-input type="text" class="characteristic-name" value=characteristicName update=(action "characteristicNameDidChange")}}
      </div>
    </div>
    <div data-row-span="2">
      <div data-field-span="1">
        <label>Characteristic Type</label>
        {{one-way-input type="text" class="characteristic-type-name" value=characteristicTypeName update=(action "characteristicTypeNameDidChange")}}
      </div>
      <div data-field-span="1">
        <label>Sort Order</label>
        {{one-way-input type="text" class="sort-order" value=sortOrder update=(action "sortOrderDidChange")}}
      </div>
    </div>
  </fieldset>
  <br>
  <a class="button-red smaller" {{action 'cancel'}}>
    Cancel
  </a>
  {{#if isDirty}}
    <button type="submit" class="button-green smaller save-characteristic">
      Save
    </button>
  {{/if}}
</form>
