<form class="grid-form" {{action 'save' on='submit'}}>
  <fieldset>
    <legend><em>{{strain.strainName}}</em></legend>
    <div data-row-span="2">
      <div data-field-span="1">
        <label>Strain Name</label>
        {{input value=strain.strainName}}
      </div>
      <div data-field-span="1">
        <label>Type Strain?</label>
        {{input type="checkbox" checked=strain.typeStrain}} {{if strain.typeStrain 'Yes' 'No'}}
      </div>
    </div>
    <div data-row-span="2">
      <div data-field-span="2">
        <label>Species</label>
          {{
            select-2
            content=species
            optionLabelPath="speciesName"
            value=strain.species
          }}
      </div>
    </div>
    <div data-row-span="2">
      <div data-field-span="2">
        <label>Isolated From</label>
        {{text-editor value=strain.isolatedFrom}}
      </div>
    </div>
    <div data-row-span="3">
      <div data-field-span="1">
        <label>Accession Numbers</label>
        {{input value=strain.accessionNumbers}}
      </div>
      <div data-field-span="1">
        <label>GenBank</label>
        {{input value=strain.genbank}}
      </div>
      <div data-field-span="1">
        <label>Whole Genome Sequence</label>
        {{input value=strain.wholeGenomeSequence}}
      </div>
    </div>
    <div data-row-span="2">
      <div data-field-span="2">
        <label>Notes</label>
        {{text-editor value=strain.notes}}
      </div>
    </div>
  </fieldset>
  <div>
    {{
      protected/strains/show/measurements-table
      model=strain
      canEdit=strain.canEdit
    }}
  </div>
  <br>
  <a class="button-red smaller" {{action 'cancel'}}>
    Cancel
  </a>
  {{#if strain.hasDirtyAttributes}}
    <button type="submit" class="button-green smaller">
      Save
    </button>
  {{/if}}
</form>
