{{#if measurementsPresent}}
{{#if paramsChanged}}
  <button class="button-gray smaller" {{action 'resetSortParam'}}>
    Reset sort
  </button>
{{/if}}
<table class="flakes-table">
  <thead>
    <tr>
      <th {{action "changeSortParam" "strain.strainName"}} class="click">Strain</th>
      <th {{action "changeSortParam" "value"}} class="click">Value</th>
      <th {{action "changeSortParam" "notes"}} class="click">Notes</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedMeasurements as |measurement|}}
      <tr>
        <td>
          {{#link-to 'protected.strains.show' measurement.strain.id classBinding="measurement.strain.typeStrain:type-strain"}}
            {{measurement.strain.fullNameMU}}
          {{/link-to}}
        </td>
        <td>
          {{measurement.value}}
        </td>
        <td>
          {{measurement.notes}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
No measurements on record.
{{/if}}
