{{#if measurementsPresent}}
{{#if paramsChanged}}
  <button class="button-gray smaller" {{action 'resetSortParam'}}>
    Reset sort
  </button>
{{/if}}
<table class="flakes-table">
  <thead>
    <tr>
      <th {{action "changeSortParam" "strain.strainName"}} class="click">Strain</th>
      <th {{action "changeSortParam" "value"}} class="click">Value</th>
      <th {{action "changeSortParam" "notes"}} class="click">Notes</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedMeasurements as |row|}}
      <tr>
        <td>
          {{#link-to 'protected.strains.show' row.strain.id}}
            {{{row.strain.strainNameMU}}}
          {{/link-to}}
        </td>
        <td>
          {{row.value}}
        </td>
        <td>
          {{row.notes}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
No measurements on record.
{{/if}}
