<div class="span-1">
  <fieldset class="flakes-information-box">
    <legend>
      Strain {{model.strainNameMU}}
    </legend>

    {{! ROW 1 }}
    <div class="grid-2 gutter-20">
      <dl class="span-1">
        <dt>Species</dt>
        <dd>
          {{#link-to 'protected.species.show' model.species.id}}
            <em>{{model.species.speciesNameMU}}</em>
          {{/link-to}}
        </dd>
      </dl>
      <dl class="span-1">
        <dt>Type Strain?</dt>
        <dd>
          {{if model.typeStrain 'Yes' 'No'}}
        </dd>
      </dl>
    </div>

    {{! ROW 2 }}
    <div class="grid-3 gutter-20">
      <dl class="span-1">
        <dt>Accession Numbers</dt>
        <dd>
          {{model.accessionNumbers}}
        </dd>
      </dl>
      <dl class="span-1">
        <dt>Genbank</dt>
        <dd>
          {{genbank-url genbank=model.genbank}}
        </dd>
      </dl>
      <dl class="span-1">
        <dt>Whole Genome Sequence</dt>
        <dd>
          {{genbank-url genbank=model.wholeGenomeSequence}}
        </dd>
      </dl>
    </div>

    {{! ROW 3 }}
    <div class="grid-1 gutter-20">
      <dl class="span-1">
        <dt>Isolated From</dt>
        <dd>
          {{{model.isolatedFrom}}}
        </dd>
      </dl>
    </div>

    {{! ROW 4 }}
    <div class="grid-1 gutter-20">
      <dl class="span-1">
        <dt>Notes</dt>
        <dd>
          {{#if model.notes}}
            {{{model.notes}}}
          {{else}}
            No notes.
          {{/if}}
        </dd>
      </dl>
    </div>

    {{! ROW 5 }}
    <div class="grid-1 gutter-20">
      <dl class="span-1">
        <dt>Characteristics</dt>
        <dd>
          {{
            protected/strains/show/measurements-table
            model=model
            canEdit=false
          }}
        </dd>
      </dl>
    </div>

    {{! ROW 6 }}
    <div class="grid-3 gutter-20">
      <dl class="span-1">
        <dt>Record Created</dt>
        <dd>{{null-time model.createdAt 'LL'}}</dd>
      </dl>
      <dl class="span-1">
        <dt>Record Updated</dt>
        <dd>{{null-time model.updatedAt 'LL'}}</dd>
      </dl>
      <dl class="span-1">
        <dt>Record Deleted</dt>
        <dd>{{null-time model.deletedAt 'LL'}}</dd>
      </dl>
    </div>
  </fieldset>
</div>
{{#if model.canEdit}}
  <br>
  {{#link-to 'protected.strains.edit' model.id class="button-gray smaller"}}
    Edit
  {{/link-to}}
{{/if}}
