<form class="grid-form" {{action 'save' on='submit'}}>
  <fieldset>
    <legend><em>{{species.speciesName}}</em></legend>
    <div data-row-span="2">
      <div data-field-span="1">
        <label>Species Name</label>
        {{input value=species.speciesName}}
      </div>
      <div data-field-span="1">
        <label>Type Species?</label>
        {{input type="checkbox" checked=species.typeSpecies}} {{if species.typeSpecies 'Yes' 'No'}}
      </div>
    </div>
    {{#unless species.isNew}}
    <div data-row-span="1">
      <div data-field-span="1">
        <label>Strains</label>
        {{#each species.strains as |strain index|}}
          {{if index ","}}
          {{#link-to 'protected.strains.show' strain.id}}
            {{{strain.strainNameMU}}}
          {{/link-to}}
        {{/each}}
        {{add-button label="Add Strain" link="protected.strains.new" canAdd=metaData.canAdd}}
      </div>
    </div>
    {{/unless}}

    <div data-row-span="1">
      <div data-field-span="1">
        <label>Etymology</label>
        {{text-editor value=species.etymology}}
      </div>
    </div>
  </fieldset>
  <br>
  <a class="button-red smaller" {{action 'cancel'}}>
    Cancel
  </a>
  {{#if species.hasDirtyAttributes}}
    <button type="submit" class="button-green smaller">
      Save
    </button>
  {{/if}}
</form>
