<table class="flakes-table">
  <thead>
    <tr>
      <th>Characteristic</th>
      {{#each strains as |strain|}}
        <th>
          {{#link-to 'protected.strains.show' strain.id classBinding="data.typeStrain:type-strain"}}
            {{strain.fullNameMU}}
          {{/link-to}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each characteristics as |row|}}
      <tr>
        {{#each row key="@index" as |col index|}}
          <td>
            {{#unless index}}
              {{#link-to 'protected.characteristics.show' col.id}}
                {{col.characteristicName}}
              {{/link-to}}
            {{else}}
              {{col}}
            {{/unless}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
<hr>
<a href="{{csvLink}}" download>Download as CSV</a>
