<h2>{{genus-name}} Strains</h2>
<h3>Total strains: {{controller.length}}</h3>

{{#if (can "add strain")}}
  {{! Does nothing ATM }}
  {{#link-to 'strains.new' class="button-gray smaller"}}
    Add Strain
  {{/link-to}}
{{/if}}

<table class="flakes-table">
  <thead>
    <tr>
      <th {{action "setSortBy" "fullName"}}>Name</th>
      <th {{action "setSortBy" "totalMeasurements"}}>Measurements</th>
    </tr>
  </thead>
  <tbody>
    {{#each strain in controller}}
      <tr>
        <td>
          {{#link-to 'measurements' strain}}
            {{scientific-name strain=strain}}
          {{/link-to}}
        </td>
        <td>{{strain.totalMeasurements}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
