<div class="grid-1">
  <div class="span-1">
    <fieldset class="flakes-information-box">
      <legend>{{model.strainName}}</legend>
      <div class="grid-4">
        <dl class="span-1">
          <dt>Type</dt>
          <dd>{{model.strainType}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Etymology</dt>
          <dd>{{model.etymology}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Accession Banks</dt>
          <dd>{{model.accessionBanks}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Genbank</dt>
          <dd>{{model.genbankEmblDdb}}</dd>
        </dl>
      </div>
      <div class="grid-4">
        <dl class="span-1">
          <dt>Created</dt>
          <dd>{{model.createdAt}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Updated</dt>
          <dd>{{model.updatedAt}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Deleted</dt>
          <dd>{{model.deletedAt}}</dd>
        </dl>
        <dl class="span-1"></dl>
      </div>
    </fieldset>
  </div>
</div>
