<div class="grid-1">
  <div class="span-1">
    <fieldset {{bind-attr class=":flakes-information-box isEditing"}}>
      <legend>
        Strain
          {{#if isEditing}}
            {{input value=model.strainName}}
          {{else}}
            {{model.strainName}}
          {{/if}}
          {{display-errors a=model.errors.strainName}}
      </legend>

      {{! ROW 1 }}
      <div class="grid-4">
        <dl class="span-2">
          <dt>Species</dt>
          <dd><em>{{model.speciesName}}</em></dd>
        </dl>
        <dl class="span-2">
          <dt>Type Strain?</dt>
          <dd>
            {{#if isEditing}}
              {{input type="checkbox" checked=model.typeStrain}}
            {{/if}}
            {{if model.typeStrain 'Yes' 'No'}}
            {{display-errors a=model.errors.typeStrain}}
          </dd>
        </dl>
      </div>

      {{! ROW 2 }}
      <div class="grid-4">
        <dl class="span-2">
          <dt>Accession Numbers</dt>
          <dd>
            {{#if isEditing}}
              {{input value=model.accessionNumbers}}
            {{else}}
              {{model.accessionNumbers}}
            {{/if}}
            {{display-errors a=model.errors.accessionNumbers}}
          </dd>
        </dl>
        <dl class="span-2">
          <dt>Genbank</dt>
          <dd>
            {{#if isEditing}}
              {{input value=model.genbank}}
            {{else}}
              {{model.genbank}}
            {{/if}}
            {{display-errors a=model.errors.genbank}}
          </dd>
        </dl>
      </div>

      {{! ROW 3 }}
      <div class="grid-4">
        <dl class="span-4">
          <dt>Isolated From</dt>
          <dd>
            {{#if isEditing}}
              {{textarea value=model.isolatedFrom cols="70" rows="3"}}
            {{else}}
              {{model.isolatedFrom}}
            {{/if}}
            {{display-errors a=model.errors.isolatedFrom}}
          </dd>
        </dl>
      </div>

      {{! ROW 4 }}
      <div class="grid-4">
        <dl class="span-4">
          <dt>Notes</dt>
          <dd>
            {{#if isEditing}}
              {{textarea value=model.notes cols="70" rows="3"}}
            {{else}}
              {{model.notes}}
            {{/if}}
            {{display-errors a=model.errors.notes}}
          </dd>
        </dl>
      </div>

      {{! ROW 5 }}
      <div class="grid-4">
        <dl class="span-1">
          <dt>Record Created</dt>
          <dd>{{null-time model.createdAt 'LL'}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Record Updated</dt>
          <dd>{{null-time model.updatedAt 'LL'}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Record Deleted</dt>
          <dd>{{null-time model.deletedAt 'LL'}}</dd>
        </dl>
        <dl class="span-1"></dl>
      </div>

      {{! ROW 6 }}
      {{#if (can "edit strain" model)}}
        <div class="grid-4">
          <div class="span-1">
            {{! Does nothing ATM }}
            <a {{bind-attr class=":smaller isEditing:button-red:button-gray"}} {{action 'editStrain'}}>
              {{#if isEditing}}Cancel{{else}}Edit{{/if}}
            </a>
            {{#if isEditing}}
              <a class="button-green smaller" {{action 'saveStrain'}}>
                Save
              </a>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </fieldset>
  </div>
</div>

<div class="measurements-container">
  {{outlet}}
</div>
