<div class="grid-1">
  <div class="span-1">
    <fieldset class="flakes-information-box">
      <legend>Strain {{model.strainName}}</legend>
      {{! ROW 1 }}
      <div class="grid-4">
        <dl class="span-2">
          <dt>Species</dt>
          <dd><em>{{model.speciesName}}</em></dd>
        </dl>
        <dl class="span-2">
          <dt>Type Strain?</dt>
          <dd>{{if model.typeStrain 'Yes' 'No'}}</dd>
        </dl>
      </div>
      {{! ROW 2 }}
      <div class="grid-4">
        <dl class="span-2">
          <dt>Accession Banks</dt>
          <dd>{{model.accessionBanks}}</dd>
        </dl>
        <dl class="span-2">
          <dt>Genbank</dt>
          <dd>{{model.genbankEmblDdb}}</dd>
        </dl>
      </div>
      {{! ROW 3 }}
      <div class="grid-4">
        <dl class="span-4">
          <dt>Isolated From</dt>
          <dd>{{model.isolatedFrom}}</dd>
        </dl>
      </div>
      {{! ROW 4 }}
      <div class="grid-4">
        <dl class="span-1">
          <dt>Record Created</dt>
          <dd>{{null-time model.createdAt 'LL'}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Record Updated</dt>
          <dd>{{null-time model.updatedAt 'LL'}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Record Deleted</dt>
          <dd>{{null-time model.deletedAt 'LL'}}</dd>
        </dl>
        <dl class="span-1"></dl>
      </div>
      {{#if (can "edit strain" model)}}
        {{! ROW 5 }}
        <div class="grid-4">
          <div class="span-1">
            {{! Does nothing ATM }}
            <a class="button-gray smaller">Edit Strain</a>
          </div>
        </div>
      {{/if}}
    </fieldset>
  </div>
</div>

<div class="measurements-container">
  {{outlet}}
</div>
