  <div class="flakes-navigation">
    {{#link-to 'index' class='logo'}}
      {{globals.genus}}.info
    {{/link-to}}
    {{#if session.isAuthenticated}}
      <ul>
        {{#link-to 'compare' tagName='li' href=false}}
          {{link-to 'Compare' 'compare'}}
        {{/link-to}}
        {{#link-to 'measurements' tagName='li' href=false}}
          {{link-to 'Measurements' 'measurements'}}
        {{/link-to}}
        {{#link-to 'characteristics' tagName='li' href=false}}
          {{link-to 'Characteristics' 'characteristics'}}
        {{/link-to}}
        {{#link-to 'species' tagName='li' href=false}}
          {{link-to 'Species' 'species'}}
        {{/link-to}}
        {{#link-to 'strains' tagName='li' href=false}}
          {{link-to 'Strains' 'strains'}}
        {{/link-to}}
        {{#link-to 'about' tagName='li' href=false}}
          {{link-to 'About' 'about'}}
        {{/link-to}}
      </ul>
      <p class="foot">
        {{session.currentUser.name}}<br>
        <a {{action 'invalidateSession'}}>Logout</a>
      </p>
    {{else}}
      <p class="foot">
        {{link-to 'Login' 'login'}}
        <br>
        {{link-to 'Sign Up' 'users.new'}}
      </p>
    {{/if}}
  </div>

  <div class="flakes-content">
    <div class="flakes-mobile-top-bar">
      <a href="" class="logo-wrap">
        {{globals.genus}}.info
      </a>
      <a href="" class="navigation-expand-target">
        <img src="img/navigation-expand-target.png" height="26px">
      </a>
    </div>

    <div class="view-wrap">
      {{outlet}}
    </div>
  </div>
