<div class="grid-1">
  <div class="span-1">
    <fieldset>
      <legend>New User Signup</legend>
      <form {{action 'save' on='submit'}}>
        <ul>
          <li>
            <label>Name</label>
            {{input value=user.name}}
          </li>
          <li>
            <label>Email</label>
            {{input value=user.email}}
          </li>
          <li>
            <label>Password</label>
            {{input type="password" value=user.password}}
          </li>
          <li>
            <label>Password (confirm)</label>
            {{input type="password" value=passwordConfirm}}
          </li>
          <li>
            <button type="submit" class="button-green smaller">
              Submit
            </button>
          </li>
        </ul>
      </form>
    </fieldset>
  </div>
</div>
