<div class="grid-1">
  <div class="span-1">
    <fieldset class="flakes-information-box {{if isEditing 'is-editing'}}">
      <legend>
        Species <em>{{species.speciesName}}</em>
      </legend>

      {{! ROW 1 }}
      <div class="grid-4">
        <dl class="span-2">
          <dt>Strains</dt>
          <dd>
            {{#each species.strains as |strain index|}}
              {{if index ","}}
              {{#link-to 'strains.show' strain.id}}
                {{{strain.strainNameMU}}}
              {{/link-to}}
            {{/each}}
          </dd>
        </dl>
        <dl class="span-2">
          <dt>Type Species?</dt>
          <dd>
            {{if species.typeSpecies 'Yes' 'No'}}
          </dd>
        </dl>
      </div>

      {{! ROW 2 }}
      <div class="grid-4">
        <dl class="span-4">
          <dt>Etymology</dt>
          <dd>
            {{species.etymology}}
          </dd>
        </dl>
      </div>

      {{! ROW 3 }}
      <div class="grid-4">
        <dl class="span-1">
          <dt>Record Created</dt>
          <dd>{{null-time species.createdAt 'LL'}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Record Updated</dt>
          <dd>{{null-time species.updatedAt 'LL'}}</dd>
        </dl>
        <dl class="span-1">
          <dt>Record Deleted</dt>
          <dd>{{null-time species.deletedAt 'LL'}}</dd>
        </dl>
        <dl class="span-1"></dl>
      </div>
    </fieldset>
  </div>
</div>
