<div class="flakes-navigation">
  {{site-logo}}
  {{#if session.isAuthenticated}}
    <ul>
      {{#link-to 'protected.compare' tagName='li' href=false}}
        {{link-to 'Compare' 'protected.compare'}}
      {{/link-to}}
      {{#link-to 'protected.species' tagName='li' href=false}}
        {{link-to 'Species' 'protected.species'}}
      {{/link-to}}
      {{#link-to 'protected.strains' tagName='li' href=false}}
        {{link-to 'Strains' 'protected.strains'}}
      {{/link-to}}
      {{#link-to 'protected.characteristics' tagName='li' href=false}}
        {{link-to 'Characteristics' 'protected.characteristics'}}
      {{/link-to}}
      {{#if session.currentUser.isAdmin}}
        {{#link-to 'protected.users' tagName='li' href=false}}
          {{link-to 'Users' 'protected.users'}}
        {{/link-to}}
      {{/if}}
      {{#link-to 'protected.about' tagName='li' href=false}}
        {{link-to 'About' 'protected.about'}}
      {{/link-to}}
    </ul>
    <p class="foot">
      {{link-to session.currentUser.name 'protected.users.show' session.currentUser.id}}<br>
      <a {{action 'invalidateSession'}}>Logout</a>
    </p>
  {{else}}
    <p class="foot">
      {{link-to 'Login' 'login'}}
      <br>
      {{link-to 'Sign Up' 'users.new'}}
      <br>
      {{link-to 'Locked Out?' 'users.requestlockouthelp'}}
    </p>
  {{/if}}
</div>

<div class="flakes-content">
  <div class="flakes-mobile-top-bar">
    {{site-logo}}
    <a href="" class="navigation-expand-target">
      <img src="img/navigation-expand-target.png" height="26px">
    </a>
  </div>

  <div class="view-wrap">
    {{#each flashMessages.queue as |flash|}}
      {{#flash-message flash=flash as |component flash|}}
        {{custom-flash-message flash=flash}}
      {{/flash-message}}
    {{/each}}
    {{yield}}
  </div>
</div>
