{{#if canAdd}}
  <br>
  <button class="button-green smaller" {{action "addMeasurement"}}>
    Add measurement
  </button>
  <br><br>
{{/if}}

{{#if paramsChanged}}
  <button class="button-gray smaller" {{action 'resetSortParam'}}>
    Reset sort
  </button>
{{/if}}
<table class="flakes-table">
  <colgroup>
    {{#if canEdit}}
      <col span="1" style="width:10%">
      <col span="1" style="width:30%">
      <col span="1" style="width:20%">
      <col span="1" style="width:20%">
      <col span="1" style="width:20%">
    {{else}}
      <col span="1" style="width:10%">
      <col span="1" style="width:30%">
      <col span="1" style="width:30%">
      <col span="1" style="width:30%">
    {{/if}}
  </colgroup>
  <thead>
    <tr>
      <th {{action "changeSortParam" "characteristic.characteristicTypeName"}} class="click">Type</th>
      <th {{action "changeSortParam" "characteristic.characteristicName"}} class="click">Characteristic</th>
      <th {{action "changeSortParam" "value"}} class="click">Value</th>
      <th {{action "changeSortParam" "notes"}} class="click">Notes</th>
      {{#if canEdit}}
      <th>Edit</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#each sortedMeasurements as |measurement|}}
      {{
        protected/strains/measurements-table-row
        measurement=measurement
        save-measurement=(action "saveMeasurement")
        delete-measurement=(action "deleteMeasurement")
        allCharacteristics=allCharacteristics
        canEdit=canEdit
      }}
    {{else}}
      <tr>
        <td colspan="5">No Measurements on Record</td>
      </tr>
    {{/each}}
  </tbody>
</table>
