<div class="grid-1">
  <div class="span-1">
    <fieldset class="read-only-information">
      <legend>{{id}}</legend>
      <dl>
        <dt>Strain</dt>
        <dd>{{strain.strainName}}</dd>
      </dl>
      <dl>
        <dt>Characteristic</dt>
        <dd>{{characteristicId}}</dd>
      </dl>
      <dl>
        <dt>Text Measurement Type</dt>
        <dd>{{textMeasurementTypeId}}</dd>
      </dl>
      <dl>
        <dt>Text Value</dt>
        <dd>{{txtValue}}</dd>
      </dl>
      <dl>
        <dt>Numerical Value</dt>
        <dd>{{numValue}}</dd>
      </dl>
      <dl>
        <dt>Confidence Interval</dt>
        <dd>{{confidenceInterval}}</dd>
      </dl>
      <dl>
        <dt>Unit Type</dt>
        <dd>{{unitTypeId}}</dd>
      </dl>
      <dl>
        <dt>Notes</dt>
        <dd>{{notes}}</dd>
      </dl>
      <dl>
        <dt>Test Method</dt>
        <dd>{{testMethodId}}</dd>
      </dl>
      <dl>
        <dt>Created</dt>
        <dd>{{createdAt}}</dd>
      </dl>
      <dl>
        <dt>Updated</dt>
        <dd>{{updatedAt}}</dd>
      </dl>
    </fieldset>
  </div>
</div>
