<div class="grid-1">
  {{#each}}
  <div class="span-1">
    <fieldset class="read-only-information">
      <legend>{{speciesName}}</legend>
      <dl>
        <dt>Id</dt>
        <dd>{{id}}</dd>
      </dl>
      <dl>
        <dt>Genus</dt>
        <dd>{{genus.genusName}}</dd>
      </dl>
      <dl>
        <dt>Species</dt>
        <dd>{{speciesName}}</dd>
      </dl>
      <dl>
        <dt>Strains</dt>
        <dd>
          {{#each strains}}
            {{strainName}}
          {{/each}}
          </dd>
      </dl>
      <dl>
        <dt>Created</dt>
        <dd>{{createdAt}}</dd>
      </dl>
      <dl>
        <dt>Updated</dt>
        <dd>{{updatedAt}}</dd>
      </dl>
      <dl>
        <dt>Deleted</dt>
        <dd>{{deletedAt}}</dd>
      </dl>
    </fieldset>
  </div>
  {{/each}}
</div>
