<div class="grid-1">
  <div class="span-1">
    <fieldset class="flakes-information-box">
      <legend>{{strainName}}</legend>
      <div class="grid-9">
        <dl class="span-3">
          <dt>Species</dt>
          <dd>{{species.speciesName}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Strain</dt>
          <dd>{{strainName}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Type</dt>
          <dd>{{strainType}}</dd>
        </dl>
      </div>
      <div class="grid-9">
        <dl class="span-3">
          <dt>Accession Banks</dt>
          <dd>{{accessionBanks}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Genbank EMBL DDB</dt>
          <dd>{{genbankEmblDdb}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Isolated From</dt>
          <dd>{{isolatedFrom}}</dd>
        </dl>
      </div>
      <dl>
        <dt>Etymology</dt>
        <dd>{{etymology}}</dd>
      </dl>
      <div class="grid-9">
        <dl class="span-3">
          <dt>Created</dt>
          <dd>{{createdAt}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Updated</dt>
          <dd>{{updatedAt}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Deleted</dt>
          <dd>{{null-time deletedAt}}</dd>
        </dl>
      </div>
    </fieldset>
  </div>
  <div>
    {{#each measurements}}
    <div class="grid-1">
      <div class="span-1">
        <fieldset class="flakes-information-box">
          <legend>{{id}}</legend>
          <div class="grid-9">
            <dl class="span-3">
              <dt>Characteristic</dt>
              <dd>{{characteristicId}}</dd>
            </dl>
            <dl class="span-3">
              <dt>Text Measurement Type</dt>
              <dd>{{textMeasurementTypeId}}</dd>
            </dl>
            <dl class="span-3">
              <dt>Text Value</dt>
              <dd>{{txtValue}}</dd>
            </dl>
          </div>
          <div class="grid-9">
            <dl class="span-3">
              <dt>Numerical Value</dt>
              <dd>{{numValue}}</dd>
            </dl>
            <dl class="span-3">
              <dt>Confidence Interval</dt>
              <dd>{{confidenceInterval}}</dd>
            </dl>
            <dl class="span-3">
              <dt>Unit Type</dt>
              <dd>{{unitTypeId}}</dd>
            </dl>
          </div>
          <div class="grid-8">
            <dl class="span-4">
              <dt>Notes</dt>
              <dd>{{notes}}</dd>
            </dl>
            <dl class="span-4">
              <dt>Test Method</dt>
              <dd>{{testMethodId}}</dd>
            </dl>
          </div>
          <div class="grid-8">
            <dl class="span-4">
              <dt>Created</dt>
              <dd>{{createdAt}}</dd>
            </dl>
            <dl class="span-4">
              <dt>Updated</dt>
              <dd>{{updatedAt}}</dd>
            </dl>
          </div>
        </fieldset>
      </div>
    </div>
    {{/each}}
</div>
