<div class="grid-1">
  <div class="span-1">
    <fieldset class="flakes-information-box">
      <legend>{{strainName}}</legend>
      <div class="grid-9">
        <dl class="span-3">
          <dt>Species</dt>
          <dd>{{species.speciesName}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Strain</dt>
          <dd>{{strainName}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Type</dt>
          <dd>{{strainType}}</dd>
        </dl>
      </div>
      <div class="grid-9">
        <dl class="span-3">
          <dt>Accession Banks</dt>
          <dd>{{accessionBanks}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Genbank EMBL DDB</dt>
          <dd>{{genbankEmblDdb}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Isolated From</dt>
          <dd>{{isolatedFrom}}</dd>
        </dl>
      </div>
      <dl>
        <dt>Etymology</dt>
        <dd>{{etymology}}</dd>
      </dl>
      <div class="grid-9">
        <dl class="span-3">
          <dt>Created</dt>
          <dd>{{createdAt}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Updated</dt>
          <dd>{{updatedAt}}</dd>
        </dl>
        <dl class="span-3">
          <dt>Deleted</dt>
          <dd>{{null-time deletedAt}}</dd>
        </dl>
      </div>
    </fieldset>
  </div>
</div>
